<% content_for :meta_title, title = "HP - NEWS ! Tiền điện tháng này lên cao quá , tính thử xem nào ~ EVN" %>
<% content_for :meta_description, "Tính xem điện đóm thế nào, chứ tốn thế này có mà chết " %>
<% content_for :meta_image, image_path("evn.png") %>
<% content_for :keywords, title %>

<section style="min-height: 600px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h4 class="row p-title mt-30"><b>Tính tiền điện  đây</b></h4>
      </div>
    </div>

    <div class="form-row" >
      <div class="col-md-8 mb-6">
        <input type="text" class="form-control" id="quantity" placeholder="Nhập số điện dùng trong tháng">
        <div class="" id="comment"></div>
      </div>
    </div>

    <table class="col-lg-6 table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Giá cũ</th>
          <th scope="col">Giá mới</th>
          <th scope="col">Tăng %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Số tiền</th>
          <td class="text-primary" id="old_fee"></td>
          <td id="new_fee"></td>
          <td class="text-danger" id="fee_percent"></td>
        </tr>
        <tr>
          <th scope="row"> + VAT</th>
          <td class="text-primary" id="old_vat"></td>
          <td id="new_vat"></td>
          <td class="text-danger" id="vat_percent"></td>
        </tr>
      </tbody>
    </table>


    <h4 class="row">Được tính theo Báo giá của EVN</h4>

    <table class="col-lg-6 table table-hover">
      <thead>
        <tr>
          <th scope="col">Mức (kWh)</th>
          <th scope="col">Giá cũ</th>
          <th scope="col">Giá mới</th>
          <th scope="col">Tăng %</th>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |data| %>
          <tr>
            <th scope="row"><%= data[:lv] %></th>
            <td class="text-primary" id="old-<%= data[:rank] %>"><%= data[:old_price] %></td>
            <td id="new-<%= data[:rank] %>"><%= data[:new_price]%></td>
            <td class="text-danger"><%= "%.2f" % data[:per_up] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    $('#quantity').change(function(){
      $('#old_fee, #old_vat, #fee_percent, #new_fee, #new_vat, #vat_percent, #comment').hide();
      $('#quantity').removeClass("is-invalid is-valid");
      $('#comment').removeClass("valid-feedback invalid-feedback");
      var value = $('#quantity').val();
      var sodien = Number(value);

      if (isNaN(sodien)){
        $('#quantity').addClass("is-invalid");
        $('#comment').addClass("invalid-feedback").text("Đã bảo hút cần ít thôi , nhập số thôi, nhập ký tự khác vào tính đc cc ấy !").fadeIn("slow");
      }else {
        var object = calculate(sodien);
        var fee = {
          oldFee: object.old,
          newFee: object.money,
          per: (object.money - object.old)/object.old*100
        }

        var vat = {
          oldVat: object.old*1.1,
          newVat: object.money*1.1,
          per: (object.money*1.1 - object.old*1.1)/object.old*100
        }

        $('#old_fee').text(fee.oldFee.toLocaleString()).fadeIn("slow");
        $('#old_vat').text(vat.oldVat.toLocaleString()).fadeIn("slow");
        $('#fee_percent').text(fee.per.toLocaleString()).fadeIn("slow");
        $('#new_fee').text(fee.newFee.toLocaleString()).fadeIn("slow");
        $('#new_vat').text(vat.newVat.toLocaleString()).fadeIn("slow");
        $('#vat_percent').text(vat.per.toLocaleString()).fadeIn("slow");

        $('#comment').addClass("valid-feedback").text(object.comment).fadeIn("slow");
        $('#quantity').addClass("is-valid");

      }
    })

    function calculate(sodien) {
      var new_price = [1678, 1734, 2014, 2536, 2834, 2927];
      var old_price = [1549, 1600, 1858, 2340, 2615, 2710];

      var new1 = new_price[0]*50;
      var new2 = new1 + new_price[1]*50;
      var new3 = new2 + new_price[2]*100;
      var new4 = new3 + new_price[3]*100;
      var new5 = new4 + new_price[4]*100;

      var old1 = old_price[0]*50;
      var old2 = old1 + old_price[1]*50;
      var old3 = old2 + old_price[2]*100;
      var old4 = old3 + old_price[3]*100;
      var old5 = old4 + old_price[4]*100;

      if (sodien < 51) {
        var obj = {
          money: sodien*new_price[0],
          old: sodien*old_price[0],
          comment: "Tiết kiệm thế ! Nhà ko có máy lạnh à?"
        }
        return obj;
      } else if(sodien < 101) {
        var obj = {
          money: new1+(sodien - 50)*new_price[1],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Tiết kiệm thế là tốt, nhớ đi làm từ thiện thường xuyên nhé !"
        }
        return obj;
      } else if(sodien < 201){
        var obj = {
          money: new2+(sodien - 100)*new_price[2],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Tiết kiệm thế là tốt, giữ phong độ nhé !"
        }
        return obj;
      } else if(sodien < 301){
        var obj = {
          money: new3+(sodien - 200)*new_price[3],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Dùng điện hơi nhiều đấy, tắt bớt tivi , máy lạnh ,nhấc mông lên ra ngoài hít không khí trong lành nào"
        }
        return obj;
      } else if(sodien < 401){
        var obj = {
          money: new4+(sodien - 300)*new_price[4],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Nhà kinh doanh à? Ko thì đi kiểm tra lại khéo hư cmn đồng hồ điện rồi"
        }
        return obj;
      } else {
        var obj = {
          money: new5+(sodien - 400)*new_price[5],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Vãi , bảo nhập số điện 1 tháng đi nhập số điện cả năm à T.T !"
        }
        return obj;
      }
    }

  })
</script>
