<div class="col-sm-4">
  <%= link_to news_path(post) do %>
    <%= image_tag (post.link_image) %>
    <h4 class="pt-20">
        <b><%= post.title %></b>
    </h4>
  <% end %>
  <ul class="list-li-mr-20 pt-10 mb-30">
    <li class="color-lite-black"><%= post.description.html_safe %></li>
    by <%= link_to "#", class:'color-black' do %>
      <b><%= post.author.name %></b>
    <% end %>
    <li class="color-black"><em><%= time_ago_in_words(post.created_at) %> ago</em></li>

  </ul>
</div>
