<%= provide(:title, title = "Lời chúa ngày : #{Time.zone.now.strftime("%d/%m/%Y")}" ) %>
<%= provide(:keywords, "loi chua moi ngay, loi chua ngay hom nay, loi chua ngay #{Time.zone.now.strftime("%d/%m/%Y")} ") %>
<%= provide(:description, "Lời Chúa ngày #{Time.zone.now.strftime("%d/%m/%Y")} . Cùng lắng nghe lời Chúa mỗi ngày") %>
<%= provide(:image, "https://read-news.herokuapp.com" + image_path("loichua.png")) %>

<section class="ptb-0">
  <div class="mb-30 brdr-ash-1 opacty-5"></div>
  <div class="container">
    <a class="mt-10" href="/">
      <i class="mr-5 ion-ios-home"></i>
        Home
      <i class="mlr-10 ion-chevron-right"></i>
    </a>
    <a class="mt-10 color-ash" href="#"><%= title %></a>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <%= @god_post.html_safe %>
        <div class="mb-30 brdr-ash-1 opacty-5">
          <em>※Quay lại trang Tin tức nhấn vào </em><i><b><%= link_to "đây" , root_path %></b></i>
        </div>
      </div>
    </div>
  </div>
</section>
